@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BoshCarServices</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
 *@


@* <div class="modern-sidebar">

    <div class="brand">
        🚗 Bosh Service
    </div>

    <nav class="menu">

        <NavLink href="/dashboard" class="menu-link">
            <span class="menu-icon">📊</span>
            Dashboard
        </NavLink>

        <NavLink href="/servicesearch" class="menu-link">
            <span class="menu-icon">🔍</span>
            Service Search
        </NavLink>

        <NavLink href="/addservice" class="menu-link">
            <span class="menu-icon">🛠</span>
            Add Service
        </NavLink>

        <NavLink href="/customers" class="menu-link">
            <span class="menu-icon">👤</span>
            Customers
        </NavLink>

        <NavLink href="/vehicles" class="menu-link">
            <span class="menu-icon">🚘</span>
            Vehicles
        </NavLink>

        <NavLink href="/reports" class="menu-link">
            <span class="menu-icon">📈</span>
            Reports
        </NavLink>

    </nav>

</div> *@
